languages/
languages-old/

plugins/akismet/
plugins/attachment-pages-redirect/
plugins/backupbuddy/
plugins/better-search-replace/
plugins/classic-editor/
plugins/contact-form-7/
plugins/country-code-selector/
plugins/font-awesome/
plugins/hide-admin-notices/
plugins/ht-easy-google-analytics/
plugins/igniteup/
plugins/invisible-recaptcha/
plugins/js_composer/
plugins/loco-translate/
plugins/menu-icons/
plugins/modal-window/
plugins/redux-framework/
plugins/regenerate-thumbnails/
plugins/removehide-author-date-category-like-entry-meta/
plugins/responsive-lightbox/
plugins/sb-image-hover-effects/
plugins/show-hide-author/
plugins/sitepress-multilingual-cms/

plugins/updraftplus/
plugins/vc_clipboard/
plugins/very-simple-favicon-manager/
plugins/whatsapp-for-wordpress/
plugins/widget-options/
plugins/woo-import-export/
plugins/woo-redsys-gateway-light/
plugins/woocommerce/
plugins/woocommerce-checkout-add-ons/
plugins/woocommerce-checkout-field-editor-pro/
plugins/woocommerce-email-control/
plugins/woocommerce-gateway-redsys/
plugins/woocommerce-multilingual/
plugins/woocommerce-order-export/
plugins/woosidebars/
plugins/wordpress-gdpr/
plugins/wordpress-importer/
plugins/wordpress-seo-premium/
plugins/wp-downgrade/
plugins/wp-rocket/
plugins/wp-seo-multilingual/
plugins/wpml-string-translation/
plugins/wpml-translation-management/
plugins/wpml-widgets_off/
plugins/wpvivid-backuprestore/
plugins/yith-woocommerce-terms-condition-premium/
plugins/hello.php
plugins/index.php

themes/transfers-child/
themes/twentytwenty/
themes/twentytwentyone/
themes/twentytwentytwo/
themes/index.php

updraft/
upgrade/
uploads/
wcccf_custom_code/
wp-rocket-config/
wp-rocket-config-old/
wpvivid_staging/
WPvivid_Uploads/
wpvividbackups/
index.php
index.php-old